body, #mainWrapper {
	height: 100%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}
.floatLeft{
    float:left;
    position: center;
    margin-left: 40%;
}


.has-error{
	color:red;
}


.generic-container {
    /*overflow: auto;*/
    overflow: scroll;
   /* overflow-x:auto;
    overflow-y:auto;*/
  position:absolute;
  width:98%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px #00000050;
}

.custom-width {
    width: 120px !important;
}
.custom-width3 {
    width: 120px !important;
}
.custom-width2 {
    width: 155px !important;
}
.custom-width4 {
    width: 270px !important;
    position: center;
    text-align: center;
    margin: 0 auto;
}
.resumeTitle{
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}
.details{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    position: center;
}
.button-main {
    width: 300px;
    margin-left: 240px;
    background-color:#68d651;
    border-radius:16px;
    font-size:36px;
    border:2px solid #20c931;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    padding:12px 31px;
    text-decoration:none;
    overflow: hidden;
    /*align-content: center;*/
}
.button-main:hover {
    background-color:#8ced57;

}
.button-main:active {

    position:relative;
    top:1px;
}
.bt1{
    padding-top: 180px;
}


